.App {
  background-color: #3B3355;
  background: linear-gradient(to right top, #f1686c, #c85478, #984978, #673f6c, #3b3355);
  color: #dddbf0;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  transform-origin: center top;
  transition: .3s ease;
  max-height: 321px;
}

.minimise .AppHeader {
    transform: translate(
        calc(50vw - 50% - 10px),
        calc(50vh - 50% - 10px)
    );
    width: 120px;
    height: 55px;
}

.AppLogo {
  height: auto;
  pointer-events: none;
  width: 100%;
}

.AppWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dddbf0;
  padding: 0 10px;
  transition: .3s ease;
}

.AppWrap.fullscreen {
  padding: 0;
}

.AppWrap.fullscreen .Console {
  height: 100%;
}

.AppWrap.fullscreen .AppHeader{
  height: 100vh;
  max-height: none;
  width: 100vw;
  border-radius: 0;
}

.AppFooter {
  min-height: 0;
}

.AppLink {
  color: #F1686C;
  position: relative;
}

.Console {
  background: #151422;
  color: #F1686C;
  font-family: 'Ubuntu Mono', monospace;
  max-width: 800px;
  width: 100%;
  padding: 0 20px 20px;
  text-align: left;
}

.Console > * {
  opacity: 1;
  transition: .3s ease;
}

.minimise .Console > * {
    font-size: 0;
    opacity: 0;
}

.ConsoleHeader {
  background: #3b3355;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  padding: 20px;
  width: 100%;
}

.ConsoleHeader:hover button:before,
.ConsoleHeader:hover button:after {
  opacity: 1;
}

.HideMe {
    display: none;
}

.flashing {
  animation: flashing alternate-reverse ease-in infinite .7s;
  top: -3px;
  position: relative;
}

@media (min-width: 600px) {
  .Console {
    padding: 20px 50px 50px;
  }
}

@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
