.App {
  background-color: #3B3355;
  background: linear-gradient(to right top, #f1686c, #c85478, #984978, #673f6c, #3b3355);
  color: #dddbf0;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.AppLogo {
  height: auto;
  pointer-events: none;
  width: 100%;
  max-width: 800px;
}

.AppHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dddbf0;
  padding: 0 10px;
}

.AppFooter {
  min-height: 0;
}

.AppLink {
  color: #F1686C;
  position: relative;
}

.Console {
  background: #151422;
  border-radius: 30px;
  color: #F1686C;
  font-family: 'Ubuntu Mono', monospace;
  margin: 50px auto 50px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.ConsoleHeader {
    background: red;
    padding: 10px;
    width: 100%;
}

.HideMe {
    display: none;
}

.flashing {
  animation: flashing alternate-reverse ease-in infinite .7s;
  top: -3px;
  position: relative;
}

@media (min-width: 600px) {
  .Console {
    padding: 50px;
  }
}

@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
