.Console {
  background: #151422;
  color: #F1686C;
  font-family: 'Ubuntu Mono', monospace;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  max-width: 100%;
  text-align: left;
}

.input {
  background: none;
  border: none;
  color: #dddbf1;
  width: 100%;
}

.input:focus {
  outline: none;
}

.flashing {
  animation: flashing alternate-reverse ease-in infinite .7s;
  top: -3px;
  position: relative;
}

@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}