.Console {
  background: #151422;
  color: #F1686C;
  font-family: 'Ubuntu Mono', monospace;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  max-width: 100%;
  text-align: left;
  padding: 5px 5px 20px 5px;
}

.ascii {
  white-space: pre-wrap;
}

.input {
  background: none;
  border: none;
  color: #dddbf1;
  width: 100%;
}

.input:focus {
  outline: none;
}

.flashing {
  animation: flashing alternate-reverse ease-in infinite .7s;
  top: -3px;
  position: relative;
}

.command {
  display: flex;
}

.Prompt {
  color:#dddbf0;
  margin-right: 20px;
}

.dollar {
  color: #26cdab;
}

.promptInput {
  display: flex;
}

.input {
  font-family: 'Ubuntu Mono';
  padding: 0;
  font-size: 16px;
}

.log {
  margin-left: 5px;
  word-break: break-word;
}

.logSuccess {
  color: #26cdab;
}

.logError {
  color: #F1686C;
}

@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
